@model IEnumerable<UniversitySystem.Models.ReportModel.TopEntrantModel>
@{
    ViewBag.Title = "TopEntrantPartial";
}
<h2>Рейтинг абитуриентов</h2>
<table class="table">
    <tr>
        <th>Номер паспорта</th>
        <th>ФИО</th>
        <th>Набранный балл</th>
    </tr>

    @foreach (var m in Model)
    {
        <tr>
            <td>@m.Passport</td>
            <td>@m.Name</td>
            <td>@m.Points</td>
        </tr>
    }

</table>



