@model UniversitySystem.Models.ReportModel.CommonReportModel
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span6" id="TopEntrant"></div>
        <div class="span6" id="AverageSubject"></div>
        <div class="span6" id="ProfessorQuery"></div>
        <div class="span6" id="SpecialityMinMax"></div>
    </div>
</div>


     <script>
         $(document).ready(function() {
             $.ajax({
                 url: '@Url.Action("TopEntrantPartial", "Report")',
                 type: 'GET',
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (data) {
                     var user = "<h2>Рейтинг абитуриентов</h2><table class='table'><tr><th>Номер паспорта</th><th>ФИО</th><th>Набранный балл</th></tr>"
                     for (var i = 0; i < data.length; i++) 
                         user += "<tr><td>"+data[i].Name+"</td><td>"+data[i].Passport+"</td><td>"+data[i].Points+"</td></tr>";
                         user += "</table>";
        
                    // alert(user);
                      $('#TopEntrant').html(user);
                 }
             });

             $.ajax({
                 url: '@Url.Action("ProfessorQueryPartial", "Report")',
                 type: 'GET',
                 success: function (data) {
                     $('#ProfessorQuery').html(data);
                 }
             });

             $.ajax({
                 url: '@Url.Action("AverageSubjectMarkPartial", "Report")',
                 type: 'GET',
                 success: function (data) {
                     $('#AverageSubject').html(data);
                 }
             });

             $.ajax({
                 url: '@Url.Action("SpecialityMinMaxPartial", "Report")',
                 type: 'GET',
                 success: function (data) {
                     $('#SpecialityMinMax').html(data);
                 }
             });
         });
     </script>
   




</body>
</html>


