@model UniversitySystem.Models.ReportModel.SpecialityMinMaxModel

<h2>Границы оценок по специальности</h2>
<table class="table">
    <tr>
        <th>Идентификатор</th>
        <th>Название</th>
        <th>Минимальный балл</th>
        <th>Максимальный балл</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Title</td>
        <td>@Model.MinPoint</td>
        <td>@Model.MaxPoint</td>
    </tr>
</table>

